<div class="page-wraper">
  <div class="page-content bg-white">
    <div class="content-block">
      <div
        class="section-full bg-white coming-soon overlay-black-dark"
        style="
          background-image: url(/assets/images/background/bg2.jpg);
          background-size: cover;
        "
      >
        <div class="container">
          <div class="text-center">
            <div class="cs-logo">
              <div class="logo">
                <img src="assets/images/white-logo.png" alt="" />
              </div>
            </div>
            <div class="cs-title">
              Thank You Contacting Us <br />
              <p style="font-size: 18px">
                Our Team will contact you in 24 hours
              </p>
              <a class="btn btn-link d-inline-flex align-items-center" href="/"
                ><i class="fa fa-angle-right m-r10"></i>Back to Home</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
