<div class="page-wrapper">
  <header class="site-header mo-left">
    <!-- Main Header -->
    <div class="sticky-header main-bar-wraper navbar-expand-lg">
      <div class="main-bar clearfix">
        <div class="container clearfix">
          <!-- Website Logo -->
          <div class="logo-header mostion logo-dark">
            <a href="index.html"
              ><img src="assets/images/logo.png" alt="logo"
            /></a>
          </div>
          <!-- Nav Toggle Button -->
          <button
            class="navbar-toggler collapsed navicon justify-content-end"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span></span>
            <span></span>
            <span></span>
          </button>
          <div class="extra-nav">
            <div class="extra-cell">
              <a
                href="https://app.degpeg.com/signup"
                target="_blank"
                class="btn btn-link d-inline-flex align-items-center"
                ><i class="fa fa-angle-right m-r10"></i>Login</a
              >
            </div>
          </div>
          <div
            class="header-nav navbar-collapse collapse justify-content-end"
            id="navbarNavDropdown"
          >
            <div class="logo-header">
              <a href="index.html"
                ><img src="assets/images/logo.png" alt=""
              /></a>
            </div>
            <ul class="nav navbar-nav navbar">
              <li class="active">
                <a href="/"><span>Home</span></a>
              </li>
              <li>
                <a href="/#features"><span>Platform Features</span></a>
              </li>
              <li>
                <a href="/about"><span>About Us</span></a>
              </li>
              <li>
                <a href="/career"><span>Career</span></a>
              </li>
              <li>
                <a href="/pricing"><span>Pricing</span></a>
              </li>
              <li>
                <a href="#contact"><span>Contact Us</span></a>
              </li>
            </ul>
            <div class="dlab-social-icon">
              <ul>
                <li>
                  <a
                    class="fa fa-facebook"
                    href="https://www.facebook.com/degpeg/"
                  ></a>
                </li>
                <li>
                  <a
                    class="fa fa-twitter"
                    href="https://twitter.com/degpeg_"
                  ></a>
                </li>
                <li>
                  <a
                    class="fa fa-linkedin"
                    href="https://www.linkedin.com/company/degpeg/?originalSubdomain=sg"
                  ></a>
                </li>
                <li>
                  <a
                    class="fa fa-instagram"
                    href="https://www.instagram.com/degpeg_/"
                  ></a>
                </li>
                <li>
                  <a
                    class="fa fa-youtube-play"
                    href="https://www.youtube.com/channel/UCYvwv2olkqz0ob3yngXxu_A"
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Main Header End -->
  </header>
  <div class="page-content bg-white">
    <!-- Banner  -->
    <div
      class="dlab-bnr-inr overlay-primary-dark"
      style="background-image: url(/assets/images/banner/bnr1.jpg)"
    >
      <div class="container">
        <div class="dlab-bnr-inr-entry">
          <h1>Pricing</h1>
          <nav aria-label="breadcrumb" class="breadcrumb-row">
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Pricing
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!-- Banner End -->
    <!-- Pricing Table -->
    <section
      class="content-inner"
      style="background-image: url(/assets/images/background/bg1.png)"
    >
      <div class="container">
        <div class="pricingtable-row">
          <div class="row">
            <div
              class="col-lg-4 col-md-6 wow fadeIn"
              data-wow-duration="2s"
              data-wow-delay="0.2s"
            >
              <div class="pricingtable-wrapper style-1 m-b30">
                <div class="pricingtable-inner">
                  <div class="pricingtable-title">
                    <h3>Free</h3>
                  </div>
                  <div class="pricingtable-price">
                    <h2 class="pricingtable-bx" style="font-size: 24px">
                      (30 days trial)
                    </h2>
                  </div>
                  <ul class="pricingtable-features">
                    <li>Live streaming</li>
                    <li>Number of sessions per month 4</li>
                    <li>Number of hours 20 hrs</li>
                    <li>Number of channels 2 Broadcast pre-recorded video</li>
                    <li>Number of videos per month 4</li>
                    <li>Maximum video size 100 MB</li>
                    <li>Analytics</li>
                  </ul>
                  <div class="pricingtable-footer">
                    <a
                      href="javascript:void(0);"
                      class="btn btn-link d-inline-flex align-items-center"
                      ><i class="fa fa-angle-right m-r10"></i>Buy Now</a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div
              class="col-lg-4 col-md-6 wow fadeIn"
              data-wow-duration="2s"
              data-wow-delay="0.4s"
            >
              <div class="pricingtable-wrapper style-1 active m-b30">
                <div class="pricingtable-inner">
                  <div class="pricingtable-title">
                    <h3>Basic</h3>
                  </div>
                  <div class="pricingtable-price">
                    <h2 class="pricingtable-bx" style="font-size: 24px">
                      ($30 billed annually)
                    </h2>
                  </div>
                  <ul class="pricingtable-features">
                    <li>Free+ below</li>
                    <li>Live streaming to social channels</li>
                    <li>Number of channels - 4</li>
                    <li>Number of hours 40 hrs Pre-recorded videos</li>
                    <li>10 videos per month</li>
                    <li>200 MB maximum size for the video</li>
                    <li>Email based customer support</li>
                  </ul>
                  <div class="pricingtable-footer">
                    <a
                      href="javascript:void(0);"
                      class="btn btn-link d-inline-flex align-items-center"
                      ><i class="fa fa-angle-right m-r10"></i>Buy Now</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-lg-4 col-md-6 wow fadeIn"
              data-wow-duration="2s"
              data-wow-delay="0.6s"
            >
              <div class="pricingtable-wrapper style-1 m-b30">
                <div class="pricingtable-inner">
                  <div class="pricingtable-title">
                    <h3>Professional</h3>
                  </div>
                  <div class="pricingtable-price">
                    <h2 class="pricingtable-bx" style="font-size: 24px">
                      ($60 billed annually)
                    </h2>
                  </div>
                  <ul class="pricingtable-features">
                    <li>Basic+ below</li>
                    <li>Live streaming to social channels</li>
                    <li>Number of channels - 6</li>
                    <li>Number of hours 80 hrs Pre-recorded videos</li>
                    <li>20 videos per month</li>
                    <li>400 MB maximum size for the video</li>
                    <li>Ticket based customer support</li>
                    <li>Live commerce with CTAs</li>
                  </ul>
                  <div class="pricingtable-footer">
                    <a
                      href="javascript:void(0);"
                      class="btn btn-link d-inline-flex align-items-center"
                      ><i class="fa fa-angle-right m-r10"></i>Buy Now</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section
      class="content-inner"
      style="background-image: url(/assets/images/background/bg2.png)"
    >
      <h1 class="text-center">FAQ</h1>
      <div class="container">
        <div class="row">
          <div
            class="col-lg-6 wow fadeIn"
            data-wow-duration="2s"
            data-wow-delay="0.2s"
          >
            <h5>Basic</h5>
            <div class="dlab-accordion accordion-sm" id="accordionFaq">
              <div class="card">
                <div class="card-header" id="faqOne">
                  <h5 class="dlab-title">
                    <a
                      href="javascript:void(0);"
                      data-toggle="collapse"
                      data-target="#collapseOne"
                      aria-expanded="false"
                      aria-controls="collapseOne"
                    >
                      What is Degpeg?
                    </a>
                  </h5>
                </div>
                <div
                  id="collapseOne"
                  class="collapse"
                  aria-labelledby="faqOne"
                  data-parent="#accordionFaq"
                >
                  <div class="card-body">
                    <p class="m-b0">
                      Degpeg is a SAAS based Live commerce platform, to enable
                      live multi streaming with ecommerce capabilities, to sell
                      any kind of product/services across on both web and mobile
                      .
                    </p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="faqTwo">
                  <h5 class="dlab-title">
                    <a
                      href="javascript:void(0);"
                      class="collapsed"
                      data-toggle="collapse"
                      data-target="#collapseTwo"
                      aria-expanded="false"
                      aria-controls="collapseOne"
                    >
                      How do I register and get started?
                    </a>
                  </h5>
                </div>
                <div
                  id="collapseTwo"
                  class="collapse"
                  aria-labelledby="faqTwo"
                  data-parent="#accordionFaq"
                >
                  <div class="card-body">
                    <p class="m-b0">
                      Click on “start streaming” and sign up as an
                      Influencer/Advertiser/Publisher with the required details.
                      The Business team shall soon get back to you after
                      internal profile verification.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="faqThree">
                  <h5 class="dlab-title">
                    <a
                      href="javascript:void(0);"
                      class="collapsed"
                      data-toggle="collapse"
                      data-target="#collapseThree"
                      aria-expanded="false"
                      aria-controls="collapseOne"
                    >
                      How shall Livestreaming help?
                    </a>
                  </h5>
                </div>
                <div
                  id="collapseThree"
                  class="collapse"
                  aria-labelledby="faqThree"
                  data-parent="#accordionFaq"
                >
                  <div class="card-body">
                    <p class="m-b0">
                      Engage with your users in real time and upscale your
                      revenue with increased sales. Degpeg offers customised
                      CTAs on the video to make the user experience more
                      engaging.
                    </p>
                  </div>
                </div>
              </div>
              <h5 class="mt-5">LIVE STREAMING</h5>
              <div class="card">
                <div class="card-header" id="faqFour">
                  <h5 class="dlab-title">
                    <a
                      href="javascript:void(0);"
                      class="collapsed"
                      data-toggle="collapse"
                      data-target="#collapseFour"
                      aria-expanded="false"
                      aria-controls="collapseOne"
                    >
                      How will I go LIVE?
                    </a>
                  </h5>
                </div>
                <div
                  id="collapseFour"
                  class="collapse"
                  aria-labelledby="faqFour"
                  data-parent="#accordionFaq"
                >
                  <div class="card-body">
                    <p class="m-b0">
                      As an influencer, you can go live with your own shows on
                      degpeg after successful creation of the show with degpeg
                      content and creative team.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="faqFive">
                  <h5 class="dlab-title">
                    <a
                      href="javascript:void(0);"
                      class="collapsed"
                      data-toggle="collapse"
                      data-target="#collapseFive"
                      aria-expanded="false"
                      aria-controls="collapseOne"
                    >
                      How many platforms can I go LIVE at once?
                    </a>
                  </h5>
                </div>
                <div
                  id="collapseFive"
                  class="collapse"
                  aria-labelledby="faqFive"
                  data-parent="#accordionFaq"
                >
                  <div class="card-body">
                    <p class="m-b0">
                      You can go live on all the social media platforms with
                      degpeg but the number depends on your subscription plan.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="faqFive">
                  <h5 class="dlab-title">
                    <a
                      href="javascript:void(0);"
                      class="collapsed"
                      data-toggle="collapse"
                      data-target="#collapseFive"
                      aria-expanded="false"
                      aria-controls="collapseOne"
                    >
                      Can the LIVE sessions be recorded ?
                    </a>
                  </h5>
                </div>
                <div
                  id="collapseFive"
                  class="collapse"
                  aria-labelledby="faqFive"
                  data-parent="#accordionFaq"
                >
                  <div class="card-body">
                    <p class="m-b0">
                      Yes, degpeg offers the live recording feature but the
                      retention of the video on the platform shall depend on the
                      subscription plan.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-lg-6 wow fadeIn"
            data-wow-duration="2s"
            data-wow-delay="0.4s"
          >
            <h5>PRICING</h5>
            <div class="dlab-accordion accordion-sm" id="accordionFaq1">
              <div class="card">
                <div class="card-header" id="faqOneFour">
                  <h5 class="dlab-title">
                    <a
                      href="javascript:void(0);"
                      class="collapsed"
                      data-toggle="collapse"
                      data-target="#collapseOneFour"
                      aria-expanded="false"
                      aria-controls="collapseOne"
                    >
                      Can I stream for free?
                    </a>
                  </h5>
                </div>
                <div
                  id="collapseOneFour"
                  class="collapse"
                  aria-labelledby="faqOneFour"
                  data-parent="#accordionFaq1"
                >
                  <div class="card-body">
                    <p class="m-b0">
                      You can stream only after registering on the platform.
                      Degpeg offers a one month free trial on streaming LIVE.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="faqOneFive">
                  <h5 class="dlab-title">
                    <a
                      href="javascript:void(0);"
                      class="collapsed"
                      data-toggle="collapse"
                      data-target="#collapseOneFive"
                      aria-expanded="false"
                      aria-controls="collapseOne"
                    >
                      Is there a trial period ?
                    </a>
                  </h5>
                </div>
                <div
                  id="collapseOneFive"
                  class="collapse"
                  aria-labelledby="faqOneFive"
                  data-parent="#accordionFaq1"
                >
                  <div class="card-body">
                    <p class="m-b0">
                      Degpeg offers a one month free trial on streaming LIVE.
                      Post this, you can continue the same by upgrading your
                      subscription plan.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="faqOneFive">
                  <h5 class="dlab-title">
                    <a
                      href="javascript:void(0);"
                      class="collapsed"
                      data-toggle="collapse"
                      data-target="#collapseOneFive"
                      aria-expanded="false"
                      aria-controls="collapseOne"
                    >
                      What is the subscription plan?
                    </a>
                  </h5>
                </div>
                <div
                  id="collapseOneFive"
                  class="collapse"
                  aria-labelledby="faqOneFive"
                  data-parent="#accordionFaq1"
                >
                  <div class="card-body">
                    <p class="m-b0">
                      Kindly refer to the pricing model of degpeg
                    </p>
                  </div>
                </div>
              </div>
              <h5 class="mt-5">CUSTOMIZATION</h5>
              <div class="card">
                <div class="card-header" id="faqOneOne">
                  <h5 class="dlab-title">
                    <a
                      href="javascript:void(0);"
                      class="collapsed"
                      data-toggle="collapse"
                      data-target="#collapseOneOne"
                      aria-expanded="false"
                      aria-controls="collapseOne"
                    >
                      Can I customize my video while going LIVE ?
                    </a>
                  </h5>
                </div>
                <div
                  id="collapseOneOne"
                  class="collapse"
                  aria-labelledby="faqOneOne"
                  data-parent="#accordionFaq1"
                >
                  <div class="card-body">
                    <p class="m-b0">
                      Yes you can customize your video while going Live or you
                      can also take assistance of degpeg studio for exclusive
                      video standards.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="faqOneTwo">
                  <h5 class="dlab-title">
                    <a
                      href="javascript:void(0);"
                      data-toggle="collapse"
                      data-target="#collapseOneTwo"
                      aria-expanded="false"
                      aria-controls="collapseOne"
                    >
                      Can the stream with only audio ?
                    </a>
                  </h5>
                </div>
                <div
                  id="collapseOneTwo"
                  class="collapse"
                  aria-labelledby="faqOneTwo"
                  data-parent="#accordionFaq1"
                >
                  <div class="card-body">
                    <p class="m-b0">
                      Only audio shall NOT be streamed on degpeg. However if an
                      audio is to be streamed in sync with the video for better
                      engagement, the team reserves all rights to decide on the
                      same.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="faqOneThree">
                  <h5 class="dlab-title">
                    <a
                      href="javascript:void(0);"
                      class="collapsed"
                      data-toggle="collapse"
                      data-target="#collapseOneThree"
                      aria-expanded="false"
                      aria-controls="collapseOne"
                    >
                      Can I switch between landscape and portrait mode?
                    </a>
                  </h5>
                </div>
                <div
                  id="collapseOneThree"
                  class="collapse"
                  aria-labelledby="faqOneThree"
                  data-parent="#accordionFaq1"
                >
                  <div class="card-body">
                    <p class="m-b0">
                      Streaming on the web requires landscape mode video
                      content. Streaming on the app seeks for portrait mode of
                      video content.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-lg-12 wow fadeIn mt-5"
            data-wow-duration="2s"
            data-wow-delay="0.4s"
          >
            <h5>GENERAL</h5>
            <div class="dlab-accordion accordion-sm" id="accordionFaq2">
              <div class="card">
                <div class="card-header" id="faqOneFour12">
                  <h5 class="dlab-title">
                    <a
                      href="javascript:void(0);"
                      class="collapsed"
                      data-toggle="collapse"
                      data-target="#collapseFour12"
                      aria-expanded="false"
                      aria-controls="collapseOne"
                    >
                      How will livestreaming change the future of e-commerce?
                    </a>
                  </h5>
                </div>
                <div
                  id="collapseFour12"
                  class="collapse"
                  aria-labelledby="faqOneFour12"
                  data-parent="#accordionFaq2"
                >
                  <div class="card-body">
                    <p class="m-b0">
                      When you leverage live streaming commerce you give buyers
                      the opportunity to interact with you in real time, and
                      experience your products in ways that lead to quicker
                      purchase decisions. In other words, it empowers Real-time
                      2-way communication.
                      <br />
                      Live commerce opens a new world of possibilities for
                      brands to be able to connect with buyers on an emotional
                      level, instantaneously, to significantly drive sales.
                      Hence live streaming is going to be transformational for
                      e-commerce in 2021 and beyond - and it's time for you to
                      take advantage of the growing trend.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="faqOneFive12">
                  <h5 class="dlab-title">
                    <a
                      href="javascript:void(0);"
                      class="collapsed"
                      data-toggle="collapse"
                      data-target="#collapseOneFive12"
                      aria-expanded="false"
                      aria-controls="collapseOne"
                    >
                      What are the components of Degpeg which makes it unique?
                    </a>
                  </h5>
                </div>
                <div
                  id="collapseOneFive12"
                  class="collapse"
                  aria-labelledby="faqOneFive12"
                  data-parent="#accordionFaq2"
                >
                  <div class="card-body">
                    <p class="m-b0">
                      Personalized Dashboard with analytics.
                      <br />
                      Buyer Interface with CTAs on the live video.
                      <br />
                      Multistreaming feature on all integrated social media
                      platforms.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="faqOneFive22">
                  <h5 class="dlab-title">
                    <a
                      href="javascript:void(0);"
                      class="collapsed"
                      data-toggle="collapse"
                      data-target="#collapseOneFive22"
                      aria-expanded="false"
                      aria-controls="collapseOne"
                    >
                      How to produce a successful Livestream with degpeg ?
                    </a>
                  </h5>
                </div>
                <div
                  id="collapseOneFive22"
                  class="collapse"
                  aria-labelledby="faqOneFive22"
                  data-parent="#accordionFaq2"
                >
                  <div class="card-body">
                    <p class="m-b0">
                      Degpeg shall help you produce a successful live show by
                      boosting your revenue, growing your buyers, building brand
                      affinity and boosting brand awareness.
                      <br />
                      Creating a sense of exclusivity, running a contest,
                      sharing your brand story, launching a new product, hosting
                      giveaways and collaborating with a brand advocate,
                      influencer or celebrity and streaming complementary
                      content are all great ways to keep target buyers and
                      customers hooked onto your live show.
                      <br />
                      You have complete in-house degpeg team support to make the
                      wonders happen !
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <footer
    class="site-footer style-2"
    id="footer"
    style="background-image: url(assets/images/background/bg4.png)"
  >
    <div class="container">
      <div
        class="dlab-subscribe style-1 wow fadeInUp"
        data-wow-duration="2s"
        data-wow-delay="0.2s"
      >
        <div class="row align-items-center">
          <div class="col-lg-7">
            <h2 class="title">Subscribe For Latest Updates</h2>
          </div>
          <div class="col-lg-5">
            <form class="dzSubscribe">
              <div class="dzSubscribeMsg"></div>
              <div class="form-group">
                <div class="input-group">
                  <input
                    name="dzEmail"
                    required="required"
                    type="email"
                    class="form-control"
                    placeholder="Your Email Address"
                  />
                  <div class="input-group-addon">
                    <button
                      name="submit"
                      value="Submit"
                      type="submit"
                      class="btn btn-primary gradient fa fa-paper-plane-o"
                    ></button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div
            class="col-xl-4 col-lg-4 col-sm-6 wow fadeIn"
            data-wow-duration="2s"
            data-wow-delay="0.2s"
          >
            <div class="widget widget_about">
              <div class="footer-logo">
                <a href="index.html"
                  ><img
                    src="assets/images/white-logo.png"
                    alt="logo"
                    style="height: 60px"
                /></a>
              </div>
              <!-- <div class="widget widget_getintuch">
                <ul>
                  <li>
                    <i class="fa fa-phone gradient"></i>
                    <span>+91 123-456-7890<br />+91 987-654-3210</span>
                  </li>
                  <li>
                    <i class="fa fa-envelope gradient"></i>
                    <span>info@example.com <br />info@example.com</span>
                  </li>
                  <li>
                    <i class="fa fa-map-marker gradient"></i>
                    <span>Marmora Road Chi Minh City, Delhi</span>
                  </li>
                </ul>
              </div> -->
            </div>
          </div>
          <div
            class="col-xl-4 col-lg-2 col-sm-6 wow fadeIn"
            data-wow-duration="2s"
            data-wow-delay="0.4s"
          >
            <div class="widget widget_services">
              <h5 class="footer-title">Our links</h5>
              <ul>
                <li><a href="https://www.degpeg.com/">Main Website</a></li>
                <li><a href="https://app.degpeg.com/signup">Login</a></li>
                <!-- <li><a href="javascript:void(0);">About Us</a></li>
                <li><a href="javascript:void(0);">Services</a></li>
                <li><a href="javascript:void(0);">Team</a></li>
                <li><a href="javascript:void(0);">Blog</a></li> -->
              </ul>
            </div>
          </div>
          <div
            class="col-xl-4 col-lg-3 col-sm-6 wow fadeIn"
            data-wow-duration="2s"
            data-wow-delay="0.8s"
          >
            <div class="widget widget_services">
              <h5 class="footer-title">Privacy Policy</h5>
              <ul>
                <li><a href="/privacy">Privacy Policy</a></li>
                <li><a href="javascript:void(0);">Terms & Conditions</a></li>
                <!--<li><a href="javascript:void(0);">Privacy Policy</a></li>
                <li>
                  <a href="javascript:void(0);">Terms & Conditions</a>
                </li>
                <li><a href="javascript:void(0);">Support </a></li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer bottom part -->
    <div class="footer-bottom">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-5 col-md-7 text-left">
            <span class="copyright-text"
              >Copyright © 2021 <a href="#" target="_blank">Degpeg</a>. All
              rights reserved.</span
            >
          </div>
          <div class="col-lg-4 col-md-7 text-left">
            <span class="copyright-text"
              >Contact Us at
              <a href="mailto:hello@degpeg.com" style="color: red"
                >hello@degpeg.com</a
              ></span
            >
          </div>
          <div class="col-lg-3 col-md-5 text-right">
            <div class="dlab-social-icon">
              <ul>
                <li>
                  <a
                    class="fa fa-facebook"
                    href="https://www.facebook.com/degpeg/"
                    target="_blank"
                  ></a>
                </li>
                <li>
                  <a
                    class="fa fa-instagram"
                    href="https://www.instagram.com/degpeg_/"
                    target="_blank"
                  ></a>
                </li>
                <li>
                  <a
                    class="fa fa-twitter"
                    href="https://twitter.com/degpeg_"
                    target="_blank"
                  ></a>
                </li>
                <li>
                  <a
                    class="fa fa-linkedin"
                    href="https://www.linkedin.com/company/degpeg/?originalSubdomain=sg"
                    target="_blank"
                  ></a>
                </li>
                <li>
                  <a
                    class="fa fa-youtube-play"
                    href="https://www.youtube.com/channel/UCYvwv2olkqz0ob3yngXxu_A"
                    target="_blank"
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
