<div class="page-wrapper">
  <header class="site-header mo-left">
    <!-- Main Header -->
    <div class="sticky-header main-bar-wraper navbar-expand-lg">
      <div class="main-bar clearfix">
        <div class="container clearfix">
          <!-- Website Logo -->
          <div class="logo-header mostion logo-dark">
            <a href="index.html"
              ><img src="assets/images/logo.png" alt="logo"
            /></a>
          </div>
          <!-- Nav Toggle Button -->
          <button
            class="navbar-toggler collapsed navicon justify-content-end"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span></span>
            <span></span>
            <span></span>
          </button>
          <div class="extra-nav">
            <div class="extra-cell">
              <a href="#" class="btn btn-link d-inline-flex align-items-center"
                ><i class="fa fa-angle-right m-r10"></i>Login</a
              >
            </div>
          </div>
          <div
            class="header-nav navbar-collapse collapse justify-content-end"
            id="navbarNavDropdown"
          >
            <div class="logo-header">
              <a href="index.html"
                ><img src="assets/images/logo.png" alt=""
              /></a>
            </div>
            <ul class="nav navbar-nav navbar">
              <li class="active">
                <a href="javascript:void(0);"><span>Home</span></a>
              </li>
              <li>
                <a href="#features"><span>Platform Features</span></a>
              </li>
              <li>
                <a href="/about"><span>About Us</span></a>
              </li>
              <li>
                <a href="/pricing"><span>Pricing</span></a>
              </li>
              <li>
                <a href="#contact"><span>Contact Us</span></a>
              </li>
            </ul>
            <div class="dlab-social-icon">
              <ul>
                <li>
                  <a class="fa fa-facebook" href="javascript:void(0);"></a>
                </li>
                <li>
                  <a class="fa fa-twitter" href="javascript:void(0);"></a>
                </li>
                <li>
                  <a class="fa fa-linkedin" href="javascript:void(0);"></a>
                </li>
                <li>
                  <a class="fa fa-instagram" href="javascript:void(0);"></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Main Header End -->
  </header>
  <div class="page-content bg-white">
    <!-- Banner  -->
    <div
      class="dlab-bnr-inr overlay-primary-dark"
      style="background-image: url(/assets/images/banner/bnr1.jpg)"
    >
      <div class="container">
        <div class="dlab-bnr-inr-entry">
          <h1>Pricing</h1>
          <nav aria-label="breadcrumb" class="breadcrumb-row">
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Pricing
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!-- Banner End -->
    <!-- Pricing Table -->
    <section
      class="content-inner"
      style="background-image: url(/assets/images/background/bg1.png)"
    >
      <div class="container">
        <div class="pricingtable-row">
          <div class="row">
            <div
              class="col-lg-3 col-md-6 wow fadeIn"
              data-wow-duration="2s"
              data-wow-delay="0.2s"
            >
              <div class="pricingtable-wrapper style-1 m-b30">
                <div class="pricingtable-inner">
                  <div class="pricingtable-title">
                    <h3>Free</h3>
                  </div>
                  <div class="pricingtable-price">
                    <h2 class="pricingtable-bx">$0</h2>
                  </div>
                  <ul class="pricingtable-features">
                    <li>Live streaming</li>
                    <li>Number of hours per month: 5hrs</li>
                    <li>Price per hour after limit: 10$</li>
                    <li>Broadcast of pre-recorded videos</li>
                    <li>Number of videos per month: 5</li>
                    <li>Maximum video size in MBs: 50MB</li>
                    <li>Duration for which videos/sessions stored: 15 days</li>
                    <li>Number of social channels 1</li>
                    <li>Split screen</li>
                    <li>HD streaming</li>
                    <li>Branding: Degpeg Branding</li>
                    <li>Analytics ( Likes | Comment | Views | Share )</li>
                    <li>Customised CTA's</li>
                    <li>Social Sharing</li>
                    <li>Customer support</li>
                    <li>Forums/FAQs</li>
                  </ul>
                  <div class="pricingtable-footer">
                    <a
                      href="javascript:void(0);"
                      class="btn btn-link d-inline-flex align-items-center"
                      ><i class="fa fa-angle-right m-r10"></i>Buy Now</a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div
              class="col-lg-3 col-md-6 wow fadeIn"
              data-wow-duration="2s"
              data-wow-delay="0.4s"
            >
              <div class="pricingtable-wrapper style-1 active m-b30">
                <div class="pricingtable-inner">
                  <div class="pricingtable-title">
                    <h3>Basic Plan Billed annually</h3>
                  </div>
                  <div class="pricingtable-price">
                    <h2 class="pricingtable-bx">$30</h2>
                  </div>
                  <ul class="pricingtable-features">
                    <li>Live streaming</li>
                    <li>Number of hours per month: 40hrs</li>
                    <li>Price per hour after limit: 8$</li>
                    <li>Broadcast of pre-recorded videos</li>
                    <li>Number of videos per month: 10</li>
                    <li>Maximum video size in MBs: 200MB</li>
                    <li>Duration for which videos/sessions stored: 15 days</li>
                    <li>
                      Streaming to Social Platforms : Facebook | Instagram |
                      Youtube | Linkedin | Twitter etc.
                    </li>
                    <li>Number of social channels: 4</li>
                    <li>Degpeg studio</li>
                    <li>Stream professional quality video from browser</li>
                    <li>Screen templates</li>
                    <li>Split screen</li>
                    <li>HD streaming</li>
                    <li>Branding: Custom</li>
                    <li>Analytics ( Likes | Comment | Views | Share )</li>
                    <li>Customised CTA's</li>
                    <li>Social Sharing</li>
                    <li>Customer support</li>
                    <li>Forums/FAQs</li>
                  </ul>
                  <div class="pricingtable-footer">
                    <a
                      href="javascript:void(0);"
                      class="btn btn-link d-inline-flex align-items-center"
                      ><i class="fa fa-angle-right m-r10"></i>Buy Now</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-lg-3 col-md-6 wow fadeIn"
              data-wow-duration="2s"
              data-wow-delay="0.6s"
            >
              <div class="pricingtable-wrapper style-1 m-b30">
                <div class="pricingtable-inner">
                  <div class="pricingtable-title">
                    <h3>Professional Plan Billed annually</h3>
                  </div>
                  <div class="pricingtable-price">
                    <h2 class="pricingtable-bx">$60</h2>
                  </div>
                  <ul class="pricingtable-features">
                    <li>Live streaming</li>
                    <li>Number of hours per month: 80hrs</li>
                    <li>Price per hour after limit: 5$</li>
                    <li>Broadcast of pre-recorded videos</li>
                    <li>Number of videos per month: 20</li>
                    <li>Maximum video size in MBs: 400MB</li>
                    <li>Duration for which videos/sessions stored: 30days</li>
                    <li>
                      Streaming to Social Platforms : Facebook | Instagram |
                      Youtube | Linkedin | Twitter etc.
                    </li>
                    <li>Number of social channels: 10</li>
                    <li>Degpeg studio</li>
                    <li>Stream professional quality video from browser</li>
                    <li>Screen templates</li>
                    <li>Split screen</li>
                    <li>Add guests</li>
                    <li>HD streaming</li>
                    <li>Branding: Custom</li>
                    <li>Analytics ( Likes | Comment | Views | Share )</li>
                    <li>Customised CTA's</li>
                    <li>Social Sharing</li>
                    <li>Degpeg Live Commerce</li>
                    <li>Integration of call to actions</li>
                    <li>Integration with payment gateways</li>
                    <li>Customer support</li>
                    <li>Forums/FAQs</li>
                  </ul>
                  <div class="pricingtable-footer">
                    <a
                      href="javascript:void(0);"
                      class="btn btn-link d-inline-flex align-items-center"
                      ><i class="fa fa-angle-right m-r10"></i>Buy Now</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-lg-3 col-md-6 m-auto wow fadeIn"
              data-wow-duration="2s"
              data-wow-delay="0.6s"
            >
              <div class="pricingtable-wrapper style-1 m-b30">
                <div class="pricingtable-inner">
                  <div class="pricingtable-title">
                    <h3>Enterprise</h3>
                  </div>
                  <div class="pricingtable-price">
                    <h2 class="pricingtable-bx">Custom</h2>
                  </div>
                  <ul class="pricingtable-features">
                    <li>Live streaming</li>
                    <li>Number of hours per month: Custom</li>
                    <li>Price per hour after limit: NA</li>
                    <li>Broadcast of pre-recorded videos</li>
                    <li>Number of videos per month: Custom</li>
                    <li>Maximum video size in MBs: Custom</li>
                    <li>Duration for which videos/sessions stored: Custom</li>
                    <li>
                      Streaming to Social Platforms : Facebook | Instagram |
                      Youtube | Linkedin | Twitter etc.
                    </li>
                    <li>Number of social channels: Custom</li>
                    <li>Degpeg studio</li>
                    <li>Stream professional quality video from browser</li>
                    <li>Screen templates</li>
                    <li>Split screen</li>
                    <li>Add guests</li>
                    <li>HD streaming</li>
                    <li>Branding: Custom</li>
                    <li>Analytics ( Likes | Comment | Views | Share )</li>
                    <li>Customised CTA's</li>
                    <li>Social Sharing</li>
                    <li>Degpeg Live Commerce</li>
                    <li>Integration of call to actions</li>
                    <li>Integration with payment gateways</li>
                    <li>Integration with logistics partners</li>
                    <li>Integration with ecommerce platforms</li>
                    <li>Customer support</li>
                    <li>Forums/FAQs</li>
                  </ul>
                  <div class="pricingtable-footer">
                    <a
                      href="javascript:void(0);"
                      class="btn btn-link d-inline-flex align-items-center"
                      ><i class="fa fa-angle-right m-r10"></i>Buy Now</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <footer
    class="site-footer style-2"
    id="footer"
    style="background-image: url(assets/images/background/bg4.png)"
  >
    <div class="container">
      <div
        class="dlab-subscribe style-1 wow fadeInUp"
        data-wow-duration="2s"
        data-wow-delay="0.2s"
      >
        <div class="row align-items-center">
          <div class="col-lg-7">
            <h2 class="title">Subscribe To Our Newsletter For Latest Update</h2>
          </div>
          <div class="col-lg-5">
            <form class="dzSubscribe">
              <div class="dzSubscribeMsg"></div>
              <div class="form-group">
                <div class="input-group">
                  <input
                    name="dzEmail"
                    required="required"
                    type="email"
                    class="form-control"
                    placeholder="Your Email Address"
                  />
                  <div class="input-group-addon">
                    <button
                      name="submit"
                      value="Submit"
                      type="submit"
                      class="btn btn-primary gradient fa fa-paper-plane-o"
                    ></button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div
            class="col-xl-4 col-lg-4 col-sm-6 wow fadeIn"
            data-wow-duration="2s"
            data-wow-delay="0.2s"
          >
            <div class="widget widget_about">
              <div class="footer-logo">
                <a href="index.html"
                  ><img
                    src="assets/images/logo.png"
                    alt="logo"
                    style="height: 60px"
                /></a>
              </div>
              <!-- <div class="widget widget_getintuch">
                <ul>
                  <li>
                    <i class="fa fa-phone gradient"></i>
                    <span>+91 123-456-7890<br />+91 987-654-3210</span>
                  </li>
                  <li>
                    <i class="fa fa-envelope gradient"></i>
                    <span>info@example.com <br />info@example.com</span>
                  </li>
                  <li>
                    <i class="fa fa-map-marker gradient"></i>
                    <span>Marmora Road Chi Minh City, Delhi</span>
                  </li>
                </ul>
              </div> -->
            </div>
          </div>
          <div
            class="col-xl-4 col-lg-2 col-sm-6 wow fadeIn"
            data-wow-duration="2s"
            data-wow-delay="0.4s"
          >
            <div class="widget widget_services">
              <h5 class="footer-title">Our links</h5>
              <ul>
                <li><a href="javascript:void(0);">Main Website</a></li>
                <li><a href="javascript:void(0);">Login</a></li>
                <!-- <li><a href="javascript:void(0);">About Us</a></li>
                <li><a href="javascript:void(0);">Services</a></li>
                <li><a href="javascript:void(0);">Team</a></li>
                <li><a href="javascript:void(0);">Blog</a></li> -->
              </ul>
            </div>
          </div>
          <div
            class="col-xl-4 col-lg-3 col-sm-6 wow fadeIn"
            data-wow-duration="2s"
            data-wow-delay="0.8s"
          >
            <div class="widget widget_services">
              <h5 class="footer-title">Privacy Policy</h5>
              <ul>
                <li><a href="javascript:void(0);">Privacy Policy</a></li>
                <li><a href="javascript:void(0);">Terms & Conditions</a></li>
                <!--<li><a href="javascript:void(0);">Privacy Policy</a></li>
                <li>
                  <a href="javascript:void(0);">Terms & Conditions</a>
                </li>
                <li><a href="javascript:void(0);">Support </a></li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer bottom part -->
    <div class="footer-bottom">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-7 text-left">
            <span class="copyright-text"
              >Copyright © 2021 <a href="#" target="_blank">Degpeg</a>. All
              rights reserved.</span
            >
          </div>
          <div class="col-lg-6 col-md-5 text-right">
            <div class="dlab-social-icon">
              <ul>
                <li>
                  <a class="fa fa-facebook" href="javascript:void(0);"></a>
                </li>
                <li>
                  <a class="fa fa-instagram" href="javascript:void(0);"></a>
                </li>
                <li>
                  <a class="fa fa-twitter" href="javascript:void(0);"></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
