<div class="page-wrapper">
  <header class="site-header mo-left">
    <!-- Main Header -->
    <div class="sticky-header main-bar-wraper navbar-expand-lg">
      <div class="main-bar clearfix">
        <div class="container clearfix">
          <!-- Website Logo -->
          <div class="logo-header mostion logo-dark">
            <a href="index.html"
              ><img src="assets/images/logo.png" alt="logo"
            /></a>
          </div>
          <!-- Nav Toggle Button -->
          <button
            class="navbar-toggler collapsed navicon justify-content-end"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span></span>
            <span></span>
            <span></span>
          </button>
          <div class="extra-nav">
            <div class="extra-cell">
              <a href="#" class="btn btn-link d-inline-flex align-items-center"
                ><i class="fa fa-angle-right m-r10"></i>Login</a
              >
            </div>
          </div>
          <div
            class="header-nav navbar-collapse collapse justify-content-end"
            id="navbarNavDropdown"
          >
            <div class="logo-header">
              <a href="index.html"
                ><img src="assets/images/logo.png" alt=""
              /></a>
            </div>
            <ul class="nav navbar-nav navbar">
              <li class="active">
                <a href="/"><span>Home</span></a>
              </li>
              <li>
                <a href="#features"><span>Platform Features</span></a>
              </li>
              <li>
                <a href="/about"><span>About Us</span></a>
              </li>
              <li>
                <a href="/pricing"><span>Pricing</span></a>
              </li>
              <li>
                <a href="#contact"><span>Contact Us</span></a>
              </li>
            </ul>
            <div class="dlab-social-icon">
              <ul>
                <li>
                  <a class="fa fa-facebook" href="javascript:void(0);"></a>
                </li>
                <li>
                  <a class="fa fa-twitter" href="javascript:void(0);"></a>
                </li>
                <li>
                  <a class="fa fa-linkedin" href="javascript:void(0);"></a>
                </li>
                <li>
                  <a class="fa fa-instagram" href="javascript:void(0);"></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Main Header End -->
  </header>
  <div class="page-content bg-white">
    <!-- Banner  -->
    <div
      class="dlab-bnr-inr overlay-primary-dark"
      style="background-image: url(/assets/images/banner/bnr1.jpg)"
    >
      <div class="container">
        <div class="dlab-bnr-inr-entry">
          <h1>Career</h1>
          <nav aria-label="breadcrumb" class="breadcrumb-row">
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Career</li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!-- Banner End -->

    <!-- Career-->
    <section class="content-inner">
      <div class="container">
        <div class="row align-items-center">
          <div
            class="col-lg-6 m-b30 wow fadeInLeft"
            data-wow-duration="2s"
            data-wow-delay="0.2s"
          >
            <div class="dz-media">
              <img src="/assets/images/about/img4.png" class="move-3" alt="" />
            </div>
          </div>
          <div
            class="col-lg-6 m-b30 wow fadeInRight"
            data-wow-duration="2s"
            data-wow-delay="0.4s"
          >
            <div class="section-head style-1 mb-4">
              <h6 class="sub-title bgl-primary m-b20 text-primary">
                Developer
              </h6>
              <h2 class="title">Full-Stack Developer</h2>
            </div>
            <p>
              Will be developing mobile and web applications using the latest
              technology. Should be good in analysing requirements and translate
              into applications. Good in understanding application flows.
            </p>
            <h4><b>Tech Skills:</b></h4>
            <div class="row">
              <div class="col-lg-12">
                <ul class="list-arrow primary">
                  <li>
                    MEAN (MongoDB, Express, Angular/React, Node.js) – Expert
                    level - at least 2-3 full sized projects
                  </li>
                  <li>
                    Cloud technology – Familiar with using cloud technology
                    (AWS, GCP etc) – Intermediate – Should be able to interact
                    with the services from cloud (e.g. firebase etc)
                  </li>
                  <li>
                    HTML, CSS, Bootstrap, Javascript – Intermediate level - Good
                    understanding of concepts and should be able to realize
                    application screens based on the UI provided by designers
                  </li>
                  <li>
                    Mobile technology – Hybrid (ionic, Cordova, capacitor,
                    flutter), Native (Android, iOS) – Beginner – Should have
                    understanding of concepts, good with basics
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section
      class="content-inner"
      style="background-image: url(assets/images/main-slider/slider1/pic2.png)"
    >
      <div class="container">
        <div class="row align-items-center">
          <div
            class="col-lg-6 m-b30 wow fadeInRight"
            data-wow-duration="2s"
            data-wow-delay="0.4s"
          >
            <div class="section-head style-1 mb-4">
              <h6 class="sub-title bgl-primary m-b20 text-primary">
                Developer
              </h6>
              <h2 class="title">Front-End Developer</h2>
            </div>
            <p>
              Will be developing mobile and web applications using the latest
              technology. Should be good in analysing requirements and translate
              into applications. Good in understanding application flows.
            </p>
            <h4><b>Tech Skills Required:</b></h4>
            <div class="row">
              <div class="col-lg-12">
                <ul class="list-arrow primary">
                  <li>
                    HTML, CSS, Bootstrap, Java script, Angular, React - Good
                    understanding of concepts and should be able to realize
                    application screens based on the UI provided by designers.
                    Should have done at least 2-3 projects (academic or
                    otherwise in one or more technologies mentioned)
                  </li>
                  <li>Node.js, MongoDB – Good to have.</li>
                </ul>
              </div>
            </div>
          </div>
          <div
            class="col-lg-6 m-b30 wow fadeInLeft"
            data-wow-duration="2s"
            data-wow-delay="0.2s"
          >
            <div class="dz-media">
              <img src="assets/images/about/img2.png" class="move-1" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="content-inner">
      <div class="container">
        <div class="row align-items-center">
          <div
            class="col-lg-6 m-b30 wow fadeInLeft"
            data-wow-duration="2s"
            data-wow-delay="0.2s"
          >
            <div class="dz-media">
              <img src="/assets/images/about/img4.png" class="move-3" alt="" />
            </div>
          </div>
          <div
            class="col-lg-6 m-b30 wow fadeInRight"
            data-wow-duration="2s"
            data-wow-delay="0.4s"
          >
            <div class="section-head style-1 mb-4">
              <h6 class="sub-title bgl-primary m-b20 text-primary">
                Developer
              </h6>
              <h2 class="title">Mobile Application Developer</h2>
            </div>
            <p>
              Will be developing mobile and web applications using latest
              technology. Should be good in analysing requirements and translate
              into applications. Good in understanding application flows.
            </p>
            <h4><b>Tech Skills:</b></h4>
            <div class="row">
              <div class="col-lg-12">
                <ul class="list-arrow primary">
                  <li>
                    Mobile technology – Hybrid (Ionic / Cordova / capacitor /
                    flutter), Native (Android / iOS) – Expert level – Should
                    have completed 2-3 full sized complex projects with server
                    components, use of cloud services, use of device native
                    capabilities like camera, accelerometer etc.
                  </li>
                  <li>
                    HTML, CSS, Bootstrap, Javascript – Intermediate level - Good
                    understanding of concepts and should be able to realize
                    application screens based on the UI provided by designers.
                  </li>
                  <li>
                    MEAN (MongoDB, Express, Angular/React, Node.js) stack –
                    Beginner level - Should have understanding of concepts, good
                    with basics
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section
      class="content-inner"
      style="background-image: url(assets/images/main-slider/slider1/pic2.png)"
    >
      <div class="container">
        <div class="row align-items-center">
          <div
            class="col-lg-6 m-b30 wow fadeInRight"
            data-wow-duration="2s"
            data-wow-delay="0.4s"
          >
            <div class="section-head style-1 mb-4">
              <h6 class="sub-title bgl-primary m-b20 text-primary">Designer</h6>
              <h2 class="title">UI/UX Designer</h2>
            </div>
            <p>
              Will be designing web and mobile applications, digital marketing
              assets, logos, banners etc. Will work with customers in
              understanding the requirements and work on developing the UI/UX
              based on that.
            </p>
            <h4><b>Skills Required:</b></h4>
            <div class="row">
              <div class="col-lg-12">
                <ul class="list-arrow primary">
                  <li>
                    Good sense of design in line with business objectives of the
                    project.
                  </li>
                  <li>
                    Use of state-of-the-art tools required for the design (Adobe
                    creative cloud tools etc).
                  </li>
                  <li>
                    Should be familiar with UI/UX standards for web, mobile
                    (Android and iOS).
                  </li>
                  <li>
                    Should be able to translate customer requirements into
                    designs.
                  </li>
                  <li>
                    Should be able to interface with the development team to
                    guide and clarify the design aspects.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div
            class="col-lg-6 m-b30 wow fadeInLeft"
            data-wow-duration="2s"
            data-wow-delay="0.2s"
          >
            <div class="dz-media">
              <img src="assets/images/about/img2.png" class="move-1" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <footer
    class="site-footer style-2"
    id="footer"
    style="background-image: url(assets/images/background/bg4.png)"
  >
    <div class="container">
      <div
        class="dlab-subscribe style-1 wow fadeInUp"
        data-wow-duration="2s"
        data-wow-delay="0.2s"
      >
        <div class="row align-items-center">
          <div class="col-lg-7">
            <h2 class="title">Subscribe To Our Newsletter For Latest Update</h2>
          </div>
          <div class="col-lg-5">
            <form class="dzSubscribe">
              <div class="dzSubscribeMsg"></div>
              <div class="form-group">
                <div class="input-group">
                  <input
                    name="dzEmail"
                    required="required"
                    type="email"
                    class="form-control"
                    placeholder="Your Email Address"
                  />
                  <div class="input-group-addon">
                    <button
                      name="submit"
                      value="Submit"
                      type="submit"
                      class="btn btn-primary gradient fa fa-paper-plane-o"
                    ></button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div
            class="col-xl-4 col-lg-4 col-sm-6 wow fadeIn"
            data-wow-duration="2s"
            data-wow-delay="0.2s"
          >
            <div class="widget widget_about">
              <div class="footer-logo">
                <a href="index.html"
                  ><img
                    src="assets/images/logo.png"
                    alt="logo"
                    style="height: 60px"
                /></a>
              </div>
              <!-- <div class="widget widget_getintuch">
                <ul>
                  <li>
                    <i class="fa fa-phone gradient"></i>
                    <span>+91 123-456-7890<br />+91 987-654-3210</span>
                  </li>
                  <li>
                    <i class="fa fa-envelope gradient"></i>
                    <span>info@example.com <br />info@example.com</span>
                  </li>
                  <li>
                    <i class="fa fa-map-marker gradient"></i>
                    <span>Marmora Road Chi Minh City, Delhi</span>
                  </li>
                </ul>
              </div> -->
            </div>
          </div>
          <div
            class="col-xl-4 col-lg-2 col-sm-6 wow fadeIn"
            data-wow-duration="2s"
            data-wow-delay="0.4s"
          >
            <div class="widget widget_services">
              <h5 class="footer-title">Our links</h5>
              <ul>
                <li><a href="javascript:void(0);">Main Website</a></li>
                <li><a href="javascript:void(0);">Login</a></li>
                <!-- <li><a href="javascript:void(0);">About Us</a></li>
                <li><a href="javascript:void(0);">Services</a></li>
                <li><a href="javascript:void(0);">Team</a></li>
                <li><a href="javascript:void(0);">Blog</a></li> -->
              </ul>
            </div>
          </div>
          <div
            class="col-xl-4 col-lg-3 col-sm-6 wow fadeIn"
            data-wow-duration="2s"
            data-wow-delay="0.8s"
          >
            <div class="widget widget_services">
              <h5 class="footer-title">Privacy Policy</h5>
              <ul>
                <li><a href="javascript:void(0);">Privacy Policy</a></li>
                <li><a href="javascript:void(0);">Terms & Conditions</a></li>
                <!--<li><a href="javascript:void(0);">Privacy Policy</a></li>
                <li>
                  <a href="javascript:void(0);">Terms & Conditions</a>
                </li>
                <li><a href="javascript:void(0);">Support </a></li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer bottom part -->
    <div class="footer-bottom">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-7 text-left">
            <span class="copyright-text"
              >Copyright © 2021 <a href="#" target="_blank">Degpeg</a>. All
              rights reserved.</span
            >
          </div>
          <div class="col-lg-6 col-md-5 text-right">
            <div class="dlab-social-icon">
              <ul>
                <li>
                  <a class="fa fa-facebook" href="javascript:void(0);"></a>
                </li>
                <li>
                  <a class="fa fa-instagram" href="javascript:void(0);"></a>
                </li>
                <li>
                  <a class="fa fa-twitter" href="javascript:void(0);"></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
